<section class="container">
  <div class="row">
    <h1>Welcome to Kravelling Sailsman!!</h1>


<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button> 
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>


  </div>
</section>

<div>
<img class="logo" src="http://sailsjs.org/images/logo_sails.png" alt="Sails logo" />
<span>Powered by Sails 0.11</span>
</div>
